.card{
    background-color: var(--main);
    padding: 1.5em;
    border-radius: 1em;
    /* border: 1px solid var(--border); */
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.flex{
    display: flex;
    align-items: center;
    gap: 1em;

}
.icon{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    color: var(--white);
}
.card:nth-of-type(1) .icon{
    background-color: var(--green);
    /* filter: drop-shadow(0 0 30px rgb(122, 247, 178)); */
}
.card:nth-of-type(2) .icon{
    background-color: var(--orange);
    /* filter: drop-shadow(0 0 30px rgb(243, 194, 102)); */
}
.card:nth-of-type(3) .icon{
    background-color: var(--blue);
    /* filter: drop-shadow(0 0 30px rgb(116, 181, 247)); */
}
.card:nth-of-type(4) .icon{
    background-color: var(--purple);
    /* filter: drop-shadow(0 0 30px rgb(162, 147, 248)); */
}
.flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
