.container {
    display: flex;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: .3em;
    overflow: hidden;
}

.container input {
    background-color: var(--secondary);
    border: 0;
    flex: 1;
    padding-left: 1em;
}

.btn {
    background-color: var(--primary);
    border: 0;
    padding: 1em;
    width: 100px;
    cursor: default;
    color: var(--white);
}

.btn:active {
    transform: scale(1);
}

.btn:hover {
    transform: scale(1);
}