.container{
    background-color: var(--main);
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    position: absolute;
    top: 4.5em;
    right: .5em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid var(--border);
    z-index: 99;
}
.container li{
    list-style: none;
}

.container li a{
    display: block;
    padding: .5em 1em;
    margin-bottom: .3em;
}


.logout{
    color: var(--crimson);
}