.header{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: relative;
    /* border-bottom: 1px solid var(--border); */
    /* background-color: var(--main); */
}
.right{
    display: flex;
    align-items: center;
    gap: 2em;
}
.profile{
    display: flex;
    align-items: center;
    gap: .5em;
    background-color: var(--main);
    padding: .5em .5em .5em 1.5em;
    border-radius: 50px;
    /* border: 1px solid var(--border); */
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.profile p{
    font-size: .89em;
}
.initials{
    height: 40px;
    width: 40px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 1.2em; */
    border-radius: 50%;
    color: var(--white);
}
.box{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu span{
    font-size: 1.4em;
}
.menu{
    background-color: var(--main);
    border-radius: 50%;
    visibility: hidden;
    /* border: 1px solid var(--border); */
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.flex{
    display: flex;
    align-items: center;
    gap: .3em;
}

@media (max-width:540px){
   
    .profile{
        padding: .5em ;
    }
    .menu{
        visibility: visible;
    }
    .label{
        display: none;
    }
}